<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quranapplistview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer">

        <activity
            android:name="com.example.quranapplistview.Surat"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.Parah"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.UrduSuratList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.UrduParahList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.Part"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.Chapter"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.EngChapList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.EngPartList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.Surah"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.Para"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.ArSurahList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.ArParaList"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.UrduActivity"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.EnglishActivity"
            android:exported="false" />
        <activity
            android:name="com.example.quranapplistview.QuranActivity"
            android:exported="false" />
        <activity android:name="com.example.quranapplistview.BookActivity" />
        <activity android:name="com.example.quranapplistview.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>